/* @font-face {
  font-family: "CircularWeb";
  src: url("/Fonts/circularweb-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "General";
  src: url("/Fonts/general.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobertMedium";
  src: url("/Fonts/robert-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobertRegular";
  src: url("/Fonts/robert-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zentry";
  src: url("/Fonts/zentry-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-circular {
  font-family: "CircularWeb", sans-serif;
}

.font-general {
  font-family: "General", sans-serif;
}

.font-robert-medium {
  font-family: "RobertMedium", sans-serif;
}

.font-robert-regular {
  font-family: "RobertRegular", sans-serif;
}

.font-zentry {
  font-family: "Zentry", sans-serif; 
}*/

.font-logo {
  font-family: "Playfair Display", serif;
}

.font-body {
  font-family: "Inter", sans-serif;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.animate-zoom {
  animation: zoomInOut 4s infinite ease-in-out;
}

.slider-track {
  animation: slide 30s infinite ease-in-out;
}

@keyframes slide {
  0%,
  10% {
    transform: translateX(0);
  }

  15%,
  25% {
    transform: translateX(-16rem);
  }
  30%,
  40% {
    transform: translateX(-32rem);
  }
  45%,
  55% {
    transform: translateX(-48rem);
  }
  60%,
  70% {
    transform: translateX(-64rem);
  }
  75%,
  85% {
    transform: translateX(-80rem);
  }

  100% {
    transform: translateX(0);
  }
}
