.font-logo {
  font-family: "Playfair Display", serif;
}

.font-body {
  font-family: "Inter", sans-serif;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.animate-zoom {
  animation: zoomInOut 4s infinite ease-in-out;
}
